<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Rectangles</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Color</th>
            <th></th>
        </tr>
        <tr th:each="rectangle : ${rectangles}">
            <td><a th:href="@{/rectangles/name/{name}(name=${rectangle.name})}" th:text="${rectangle.name}">Name</a></td>
            <td th:text="${rectangle.color}">Color</td>
            <td>
                <a th:href="@{/rectangles/edit/{id}(id=${rectangle.id})}">Edit</a>
                <a th:href="@{/rectangles/delete/{id}(id=${rectangle.id})}">Delete</a>
            </td>
        </tr>
    </table>
    <a href="/static/add">Add a rectangle</a>
    
</body>
</html>